@import '../../scss/flex';

.inputFieldContainer {
  @extend .flexColumn;
  max-width: 194px;
  font-size:12px;
  margin:10px 0;
}
.inputField {
  border-radius:3px;
  margin:3px 0;
  padding:5px;
  border: 1px solid #888888;
}

.multilineInputFieldContainer {
  @extend .flexColumn;
  //width: 80%;
  margin: 0 auto;
}

.multilineInput {
  border-radius:3px;
  margin:3px 0;
  padding:5px;
  border: 1px solid #888888;
  resize: none;
}