.contactsKeeperHeaderContainer {
  margin: 0 0 50px 0;
}

.orangeBox {
  background-color: #f58025;
  padding: 25px 0 17px 30px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

.greyBox {
  height: 21px;
  background-color: #E7E7E7;
}