@import '../../../scss/flex',
'../../../scss/colors';

.fieldContainer {
  @extend .flexRow;
  margin: 20px auto 5px auto;
}

.modalContainer {
  width: 80%;
  margin: 0 auto;
}

.separation {
  border-top:0;
  margin: 20px 0 0 0;
}

.leftColumn {

}

.rightColumn {
  margin: 0 0 0 auto;
}

.saveButton {
  background-color: $input-border-grey;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 10px 20px;
  margin: 10px 30px 15px auto;
}

.saveButtonContainer{
  display: flex;
}

.contactsKeeperHeaderContainer {
  margin: 0 0 50px 0;
}

.orangeBox {
  background-color: $procore-orange;
  padding: 25px 0 17px 30px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

.greyBox {
  height: 21px;
  background-color: $table-cell-border-grey;
}

