@import "../../scss/colors";

.searchIcon {
  background-color: $procore-blue;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 50px;
}
.searchBar {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid $input-border-grey;
  border-right: 0;
  width: 190px;
  padding: 0 0 0 20px;
}

