@import "flex",
"modal";

.addButtonContainer {
  margin: 0 0 0 auto;
}

.inputFieldContainer {
  @extend .flexColumn;
  max-width: 150px;
}

//Table

.table {
  @extend .flexColumn;
}

.tableCell {
  @extend .flex;
  flex-basis: 15%;
}

.tableHeader {
  @extend .flexRow;
}

.tableRow {
  @extend .tableHeader;
}

