@import "flex",
"modal";

.addButtonContainer {
  margin: 0 0 0 auto;
}

.inputFieldContainer {
  @extend .flexColumn;
  max-width: 150px;
}

.multilineInputFieldContainer {
  @extend .flexColumn;
  width: 80%;
}

.multilineInput{

}

//Table

.table {
  @extend .flexColumn;
}

.tableCell {
  @extend .flex;
  flex-basis: 15%;
  overflow: auto;
  background-color: #FFF;
}

.tableHeader {
  @extend .flexRow;
}

.tableRow {
  @extend .tableHeader;
}

